# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.io_ttd.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

/.idea
/src/.idea
/src/io_ttd/bin
/src/io_tests/bin
/src/io_ttd/obj
/src/io_tests/obj